@keyframes myAnimation{
    25% {color: red;}
    50% {color: rgb(208, 230, 250);}
    75% {color:blue;} 
    100% {color: black;} }
    
header {text-align: center;
    margin: 0px 0px 100px;
    padding: 20px;
    font-size: 30px;
    font-family: "Gravitas One", serif;
    text-transform: uppercase;
    background-color: rgb(72, 55, 1);

    /* Added a color change animation */
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;}



body {background-color: rgb(253, 238, 101);
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;}


#grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 95%;
    margin: auto;
    grid-area: stretch;

    max-width: 1000px;}


.stars {
    background-color: rgb(29, 80, 163);
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 0.8;
    padding: 5px;
    max-width: none;}
.row1:hover, .row2:hover, .row3:hover, .row4:hover, .row5:hover, .row6:hover, .row7:hover {color: blue;}



/* this is the seciton I struggled with the most, trying to widen the stripes were hard - had to change the grid-container column to 3fr and add stretch. */
.stripes-two {
  grid-column: 1 / 3; /* stretches across both columns */
  display: flex;
  flex-direction: column;
  height: 100%;       /* matches stars vertically */}



/* I orignally had text hiding in the lines as the same color but I ended up removing them when I realized I can make empty <divs> in my HTML */
.red1, .red2 {background-color: rgb(212, 1, 1);
    height: 40px;}
.white1, .white2 {background: white;
    height: 45px;}


/* Hover Stripes Color Changes */
.red1:hover, .red2:hover {background-color: whitesmoke;}
.white1:hover, .white2:hover {background-color: rgb(255, 0, 0);}



section {text-align: justify;
    border: 8px dotted rgb(0, 89, 255);
    border-radius: 10px;
    margin: 50px 200px;
    padding: 20px;
    background-color: white;
    font-family: "Bellota", system-ui;
    opacity: 40%;}

p {text-align: center;}

section:hover {
    border: 8px dotted red;
    opacity: 100%;}


footer{text-align: center;
    margin-top: 50px;
    padding: 20px;
    font-family: "Gravitas One", serif;
    font-size: 20px;
    animation-name: myAnimation; 
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-color: rgb(72, 55, 1)}

